@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

// colours 

$opaque: rgba(0, 0, 0, .4);
$opaquenav: rgba(0, 0, 0, .8);
$offwhite: #dbe0e3e3;
$darkbrown: #655656;
$dark: #212121;
$yellow: #8B601A;
$lightgrey: #8e7f7f;
$header: #302012;
$transwhite: #ffffff66;
$black: #222222;
$darkbrowntwo: #393232;
$violet: #3B2C6E;
$aqua: #6d847c;

// fonts

$satisfy: 'Satisfy', cursive;
$questrial: 'Questrial', sans-serif;
$abel: 'Abel', sans-serif;

// mixins

@mixin navLink($sizeValue) {
    font-size: $sizeValue;
    color: white;
    font-family: $questrial;
}

@mixin paragraph($sizeValue) {
    font-size: $sizeValue;
    font-family: $abel;
}

@mixin header($sizeValue) {
    font-size: $sizeValue;
    font-family: $questrial;
}


// Media Queries

@mixin bigTabletMQ {
    @media (max-width: 1100px) {
    @content;
    }
}


@mixin tabletMQ {
    @media (max-width: 860px) {
    @content;
    }
}

@mixin phoneMQ{
    @media (max-width: 657px) {
    @content;
    }
}

@mixin smallPhoneMQ{
    @media (max-width: 400px) {
    @content;
    }
}