@import './partials/setup';
@import './partials/variables';


.landing-background {
    height: 100vh;
    padding: 0;
    z-index: 1;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .landing-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @include phoneMQ {
            padding-left: 10%;
        }
    }

    h1 {
        color:  white;
        font-family: $questrial;
        font-size: 8rem;
        text-shadow: 2px 2px 3px $black;

        @include smallPhoneMQ {
            font-size: 6rem;
        }
    }

    svg {
        color: $offwhite;
        opacity: .8;
        font-size: 5rem;
        position: absolute;
        top: 40%;
        left: 47.5%;
        height: 110vh;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus {
            color: $aqua;
            transform: scale(1.2);
            opacity: 1;
        }

        @include bigTabletMQ {
            display: none;
        }
    }

}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}

footer {
    background-color: $dark;
    margin: 0;

    .footer-container {
        display: flex;
        width: 100%;
        align-items: center;
        height: 40vh;
        margin: 0 auto;
        justify-content: center;

        @include bigTabletMQ {
            padding: 50px 0;
            height: auto;
        }

        @include smallPhoneMQ {
            flex-direction: column-reverse;
        }
    }

    .footer-flex-one, .footer-flex-two {
        display: flex;

        @include bigTabletMQ {
            flex-direction: column;
        }

        @include phoneMQ {
            width: 50%;
        }
    }

    .footer-flex-two {
        
        @include bigTabletMQ {
            flex-direction: column-reverse;
        }
    }

    .copyright-bottom {
        width: 100%;
        text-align: center;
        padding-top: 30px;
        margin: 0;
        padding-bottom: 0;

        p {
            margin: 0;
            padding: 0;
            padding-bottom: 30px;
        }
    }

    
    .address {
        padding: 30px;
    }
    
    .phone {
        display: flex;
        flex-direction: column;
        padding: 30px;
        
        @include bigTabletMQ {
            padding-left: 20%;
        }
        
        a {
            transition: all .2s ease-in-out;
            @include paragraph(2rem);
            padding: 7px 0;
        }
        
        a:hover, a:focus {
            transform: scale(1.2);
        }
        
    }
    
    .copyright {
        padding: 30px 0;
        padding-left: 20%;
        width: 400px;

        @include phoneMQ {
            width: 100px;
            padding-left: 20%;
        }

        .isi-logo {
            opacity: .8;
            width: 50%;
            transition: all .2s ease-in-out;
            position: relative;
            min-width: 100px;
            
            &:hover, 
            &:focus {
                opacity: .5;
                transform: scale(1.1);
            }
        }
    }

    p, a {
        color: $offwhite
    }


    .social-links {
        margin: 0;
        display: flex;
        min-width: 200px;
        padding-top: 30px;

        @include bigTabletMQ {
            flex-wrap: wrap;
            width: 70%;
            padding-bottom: 15%;
        }

        @include phoneMQ {
            padding-left: 10%;
        }
        
        li {
            padding: 20px;
            transition: all .2s ease-in-out;
            
            svg {
                font-size: 3rem;
                transition: all .2s ease-in-out;
    
                &:hover,
                &:focus {
                    color: $aqua;
                }

            }
    
            &:hover,
            &:focus {
                transform: scale(1.4);
            }
        }

        .linkedin {
                    
            svg {
                font-size: 3.6rem;
            }
        }
    
    }

}

p {
    @include paragraph(2rem);
    color: $darkbrown;
}

h2 {
    @include header(4rem);
    color: $darkbrown;
}

.nav-bar {
    width: 100%;
    position: fixed;
    height: 10vh;
    top: 0;
    bottom: 0;
    background-color: $opaque;
    z-index: 100000;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 2%;
    align-items: center;
    transition: top 0.6s;
    margin: 0;
    
    .logo {
        cursor: pointer;
        background: transparent;
        border: none;
        width: 12%;
        margin-right: 300px;
        margin-left: 100px;
        max-width: 150px;
        min-width: 100px;
        
        img {
            border-radius: 5px;
            opacity: .7;
            width: 50%;
            transition: all .2s ease-in-out;
        }

        img:hover,
        img:focus {
            opacity: 1;
            transform: scale(1.1);
        }
        
        @include bigTabletMQ {
            display: none;
        }
    }

    .logo-blog-container {
        width: 10%;
        margin-left: 60px;
        min-width: 100px;
        margin-right: 279px;
        max-width: 130px;

        .logo {
            position: relative;
            right: 20px;
        }
    }

    ul {
        display: flex;
        justify-content: space-around;
        width: 80%;
        position: relative;
        padding-left: 5%;
    }

    li {

        a {
            @include navLink(2.5rem);
            display: block;
            transition: all .2s ease-in-out;
            text-shadow: 1px 1px 3px $black;

            &:hover,
            &:focus {
                color: $aqua;
            }
        }
    }

    .burger {
        position: fixed;
        left: 70%;
        width: 100px;
        height: 100px;
        cursor: pointer;
        padding-right: 50px;
        transition: all .3s ease-in-out;
        padding: 100px;
        display: none;

        @include phoneMQ {
            left: 60%;
        }

        @include smallPhoneMQ {
            left: 50%;
        }

        &:hover {
            opacity: .7;
        }

        .menu {
            width: 50px;
            height: 6px;
            border-radius: 5px;
            transition: all .5 ease-in-out;
            background: $offwhite;
            box-shadow: 5px 5px 5px black;
        }

        .menu:before, .menu:after {
            content: "";
            position: absolute;
            width: 50px;
            height: 6px;
            background: $offwhite;
            border-radius: 5px;
            box-shadow: 5px 5px 5px black;
            transition: all .5s ease-in-out;
        }

        .menu:before {
            transform: translateY(-16px);
        }

        .menu:after {
            transform: translateY(16px);
        }
        
    }

    .nav-links {
        transition: 0.5s ease-in;
        padding-left: 20px;
        z-index: 20000;

        @include bigTabletMQ {

            padding-bottom: 100px;
        }

        .exit {
            color: $offwhite;
            display: none;
            cursor: pointer;

            @include bigTabletMQ {
                display: block;
            }

            svg {
                transition: all .1s ease-in-out;
                font-size: 4.5rem;
            }

            svg:hover,
            svg:focus {
                transform: scale(1.2);
                color: $aqua;
            }

            svg:active {
                transform: rotate(90deg);
            }
        }
    }

}

@media all and (max-width: 1100px) {

    .nav-bar {

        .burger {
            display: block;
        }

    }

    nav .nav-links {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        margin: 0;
        background-color: $opaquenav;
        width: 100%;
        transform: translateX(-1000px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    nav .nav-links li {
        padding: 50px 25px 25px 80px;
        width: 100%;
        height: 90px;

        a {
            font-size: 4rem;
        }

    }

}

.about-section {
    padding: 250px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: $darkbrown;

    .about-container {
        display: flex;
        background: $opaque;
        border-radius: 5px;
        padding: 100px 40px;

        @include tabletMQ {
            flex-direction: column;
        }
    }

    .about-text {
        display: flex;
        flex-direction: column;
    }

    .about-image {
        width: 100%;
        padding-left: 90px;
        padding-top: 50px;

        @include tabletMQ {
            padding: 0;
            padding-top: 40px;
        }

        img {
            border-radius: 5px;
            width: 100%;

            min-width: 200px;
        }
    }

    h2 {
        color: $transwhite;
        border-bottom: 2px solid $transwhite;
        width: 97%;
        text-shadow: 1px 1px 3px $black;
    }

    p {
        color: $offwhite;
        @include paragraph(2.5rem);
    }

}

.how-section {

    h2 {
        color: $transwhite;
        border-bottom: 2px solid $transwhite;
        width: 97%;
        text-shadow: 1px 1px 3px $black;       
    }

    .how-text {
        width: 80%;
        padding-left: 15%;
        padding-top: 60px;
        background: $opaque;
        margin-top: 50px;
        border-radius: 3px;
        padding-right: 100px;
        padding-bottom: 100px;
        margin-bottom: 100px;

        @include tabletMQ {
            margin-bottom: 50px;
            width: 100%;
        }

    }

    p {
        color: white;
        border-right: 2px solid $transwhite;

        @include bigTabletMQ {
            border-right: none;
        }

        span {
            color: $black;
            word-wrap: break-word;
        }
    }

    .learn-more {
        display: flex;
        cursor: pointer;

        button {
            background: none;
            border: none;
            font-size: 2.5rem;
            color: $offwhite;
            cursor: pointer;
            border-bottom: 2px solid $transwhite;
            border-right: 2px solid $transwhite;
            transition: all 0.2s ease-in-out;

            &:hover,
            &:focus {
                color: $aqua;
                border-bottom: 2px solid $aqua;
                border-right: 2px solid $aqua;
            }
        }
    }

    p {
        @include paragraph(2.5rem);
        color: $offwhite;
    }
}

.how-section-two {
    padding: 100px 0;
    margin: 0;
    background-color: $black;

    @include bigTabletMQ {
        background: $darkbrown;
    }

    h2 {
        color: $transwhite;
        border-bottom: 2px solid $transwhite;
        width: 78%;
        text-shadow: 1px 1px 3px $black;
    }

    .how-two-flex {
        padding: 100px 5%;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background: $darkbrown;
        border-radius: 5px;

        @include phoneMQ {
            flex-direction: column-reverse;
            width: 85%;
        }
    }

    .how-to-text {
        margin-right: 100px;

        @include phoneMQ {
            margin-right: 0;
            display: flex;
            justify-content: center;
            width: 80%;
        }
    }

    .how-two-image {
        width: 100%;
        padding-right: 30px;

        @include phoneMQ {
            display: flex;
            justify-content: center;
        }

        img {
            width: 100%;
            min-width: 300px;

            @include phoneMQ {
                width: 60%;
                margin-top: 100px;
            }
        }
    }

    .mobile-video {
        width: 90%;

        img {
            width: 100%;
            min-width: 200px;
        }
    }

    .contact-button {
        display: flex;
        cursor: pointer;

        button {
            background: $black;
            border: none;
            font-size: 2rem;
            color: white;
            cursor: pointer;
            border: 2px solid $transwhite;
            transition: all 0.2s ease-in-out;
            padding: 10px;

            &:hover,
            &:focus {
                color: $aqua;
                background-color: transparent;
                transform: scale(0.9);
                opacity: 0.9;
            }

            &:active {
                position: relative;
                top: 2px;
                opacity: .6;
            }
        }
    }

    p {
        @include paragraph(2.5rem);
        width: 80%;
        color: $offwhite;
    }
}

.contact-section {

    .contact-text {
        display: flex;
        padding-top: 200px;
        padding-bottom: 300px;
        align-items: center;
        justify-content: center;
        width: 100%;

        @include tabletMQ {
            flex-direction: column-reverse;
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 90%;
        height: 60vh;
        padding-left: 4%;

        h3 {
            @include header(3rem);
            margin-bottom: 0;
            color: $offwhite;
            opacity: .8;
        }
    }

    .submit-message {
        color: $offwhite;
        @include paragraph(4rem);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
        height: 100vh;

        @include tabletMQ {
            width: 100%;
        }

        input[type="text"], input[type="email"], textarea {
            background: $opaque;
            padding: 10px;
            margin: 20px 0;
            border: none;
            border-bottom: 2px solid $offwhite;
            border-left: 2px solid $offwhite;
            border-radius: 3px;
            width: 100%;
            @include paragraph(2rem);
            color: $offwhite;
        }

        textarea {
            height: 200px;
            resize: none;
        }

        button {
            width: 30%;
            padding: 10px;
            background-color: $opaque;
            color: $offwhite;
            @include paragraph(2rem);
            margin: 0 auto;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover,
            &:focus {
                transform: scale(0.9);
                opacity: 0.5;
                color: $aqua;
            }

            &:active {
                position: relative;
                top: 2px;
                opacity: .6;
            }
        }

    }

    nav {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tabletMQ {
            width: 100%;
            padding-bottom: 50px;
            padding-left: 4%;
        }

        li {
            padding: 20px 0;
        }

        a {
            color: $offwhite;
            @include paragraph(3rem);
            display: inline-block;
            transition: all .2s ease-in-out;

            &:hover,
            &:focus {
                color: $aqua;
            }
        }
    }


    h3 {
        color:  $offwhite;
        padding-top: 100px;
    }

}

.blog-landing-background {
    height: 100vh;
    padding: 0;
    z-index: 1;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .blog-landing-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @include phoneMQ {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 15%;
        }
    }

    h1 {
        color:  white;
        font-family: $questrial;
        font-size: 8rem;
        text-align: center;
        position: relative;
        right: 25px;
        text-shadow: 2px 2px 3px $black;

        @include phoneMQ {
            right: 4px;
            text-align: left;
            font-size: 6rem;
        }
    }

    h2 {
        font-family: $abel;
        text-align: center;
        color: $offwhite;
        text-shadow: 2px 2px 3px $black;

        @include phoneMQ {
            display: block;
            font-size: 2.5rem;
        }
    }

    svg {
        color: $offwhite;
        opacity: .8;
        font-size: 5rem;
        position: absolute;
        top: 40%;
        left: 49%;
        height: 110vh;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus {
            color: $aqua;
            transform: scale(1.2);
            opacity: 1;
        }

        @include tabletMQ {
            display: none;
        }
    }

}

.blog-section-one {
    padding: 200px 0;
    background-color: $lightgrey;

    p {
        @include paragraph(2.5rem);
        color: $offwhite;
        line-height: 3rem;
    }

    .blog-flex-one {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        @include tabletMQ {
            flex-direction: column;
        }
    }

    .blog-text-container-one {
        width: 100%;
        padding: 90px;
        margin-right: 100px;
        border-radius: 3px;
        background: $opaque;

        li {
            margin: 100px 0;
            padding: 0;
            position: relative;
            right: 30px;

            a {
                color: $offwhite;
                @include paragraph(3rem);
                transition: all .1s ease-in-out;
            }

            a:hover,
            a:focus {
                color: $opaque;
            }

            p {
                color: $aqua;
            }
        }
    }

    .blog-image-container-one {
        width: 100%;

        @include tabletMQ {
            display: none;
        }

        img {
            width: 90%;
            border-radius: 5px;
        }

    }

    h3 {
        @include header(4rem);
        color: $opaque;
    }

}

